body{
  font-family:Arial;
}
#heading{
  text-align: center;
  color:red;
}
#submitbtn{
  border: 0px;
  border-radius: 10px;
  background-color: darkseagreen;
}
#Deletebtn, .delete-btn{
  background-color:red;
  border-radius: 5px;
  border: 0px;

}
#todocontainer{
  display: grid;
  grid-template-columns: 200px 150px 100px;
}
#todo-work, #todo-date, #submitbtn{
  font-size: 20px;
  padding: 10px 5px;
}
.task-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.task-name {
  flex: 1;
  font-weight: bold;
  color: #333;
}

.task-date {
  flex: 1;
  text-align: center;
  color: #666;
  font-style: italic;
}
.background{
  background-image: url('./Jog.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width:1000vh;
  height:1000vh;
}